openapi: 3.0.3
info:
  title: Dotypos API
  description: Dotypos POS System API for managing reservations and authentication
  version: 2.0.0
servers:
  - url: https://api.dotykacka.cz/v2
    description: Production API server

security:
  - bearerAuth: []

paths:
  /signin/token:
    post:
      tags:
        - Authentication
      summary: Get access token from refresh token
      operationId: getAccessToken
      security: []
      parameters:
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            description: User {refresh_token}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                _cloudId:
                  type: string
                  description: Cloud ID to get access to
              # _cloudId is optional - can be empty {} for listing clouds
      responses:
        '201':
          description: Successful authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /clouds/{cloudId}/reservations:
    post:
      tags:
        - Reservations
      summary: Create a new reservation
      operationId: createReservation
      parameters:
        - name: cloudId
          in: path
          required: true
          schema:
            type: string
          description: Cloud ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateReservationRequest'
              maxItems: 100
              description: Array of reservations to create (max 100)
      responses:
        '200':
          description: Reservations created successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Reservation'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    get:
      tags:
        - Reservations
      summary: List reservations
      operationId: listReservations
      parameters:
        - name: cloudId
          in: path
          required: true
          schema:
            type: string
          description: Cloud ID
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of reservations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Reservation'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /clouds/{cloudId}/reservations/{reservationId}:
    get:
      tags:
        - Reservations
      summary: Get reservation by ID
      operationId: getReservation
      parameters:
        - name: cloudId
          in: path
          required: true
          schema:
            type: string
          description: Cloud ID
        - name: reservationId
          in: path
          required: true
          schema:
            type: string
          description: Reservation ID
      responses:
        '200':
          description: Reservation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        '404':
          description: Reservation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      tags:
        - Reservations
      summary: Update reservation
      operationId: updateReservation
      parameters:
        - name: cloudId
          in: path
          required: true
          schema:
            type: string
          description: Cloud ID
        - name: reservationId
          in: path
          required: true
          schema:
            type: string
          description: Reservation ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReservationRequest'
      responses:
        '200':
          description: Reservation updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        '404':
          description: Reservation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags:
        - Reservations
      summary: Cancel reservation
      operationId: cancelReservation
      parameters:
        - name: cloudId
          in: path
          required: true
          schema:
            type: string
          description: Cloud ID
        - name: reservationId
          in: path
          required: true
          schema:
            type: string
          description: Reservation ID
      responses:
        '204':
          description: Reservation cancelled successfully
        '404':
          description: Reservation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /clouds/{cloudId}/customers:
    get:
      tags:
        - Customers
      summary: Get customers
      operationId: getCustomers
      parameters:
        - name: cloudId
          in: path
          required: true
          schema:
            type: string
        - name: filter
          in: query
          description: Filter customers (e.g., by email or phone)
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of customers
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Customers
      summary: Create customers
      operationId: createCustomers
      parameters:
        - name: cloudId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateCustomerRequest'
      responses:
        '200':
          description: Customers created successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /clouds/{cloudId}/customers/{customerId}:
    get:
      tags:
        - Customers
      summary: Get customer by ID
      operationId: getCustomer
      parameters:
        - name: cloudId
          in: path
          required: true
          schema:
            type: string
        - name: customerId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    RefreshTokenRequest:
      type: object
      required:
        - grant_type
        - client_id
        - client_secret
        - refresh_token
      properties:
        grant_type:
          type: string
          enum: [refresh_token]
        client_id:
          type: string
        client_secret:
          type: string
        refresh_token:
          type: string

    PasswordTokenRequest:
      type: object
      required:
        - grant_type
        - client_id
        - client_secret
        - username
        - password
      properties:
        grant_type:
          type: string
          enum: [password]
        client_id:
          type: string
        client_secret:
          type: string
        username:
          type: string
        password:
          type: string

    TokenResponse:
      type: object
      required:
        - accessToken
      properties:
        accessToken:
          type: string
          description: JWT access token for API authentication

    CreateReservationRequest:
      type: object
      required:
        - _branchId
        - _cloudId
        - startDate
        - endDate
        - seats
        - status
      properties:
        _branchId:
          type: integer
          description: Branch ID
        _cloudId:
          type: integer
          description: Cloud ID
        _customerId:
          type: integer
          description: Customer ID
          nullable: true
        _employeeId:
          type: integer
          description: Employee ID
          nullable: true
        _tableId:
          type: integer
          description: Table ID
          nullable: true
        flags:
          type: integer
          format: int64
          description: Reservation flags (bitwise flags)
          default: 0
        startDate:
          type: number
          description: Start date/time as Unix timestamp in milliseconds
        endDate:
          type: number
          description: End date/time as Unix timestamp in milliseconds
        seats:
          type: integer
          description: Number of seats/guests
        status:
          type: string
          enum: [NEW, CONFIRMED, CANCELLED]
        note:
          type: string
          description: Additional notes (used for customer info)

    UpdateReservationRequest:
      type: object
      properties:
        startDate:
          type: number
          description: Start date/time as Unix timestamp in milliseconds
        endDate:
          type: number
          description: End date/time as Unix timestamp in milliseconds
        seats:
          type: integer
          description: Number of seats/guests
        status:
          type: string
          enum: [NEW, CONFIRMED, CANCELLED]
        note:
          type: string
          description: Additional notes

    Reservation:
      type: object
      properties:
        id:
          type: integer
        _branchId:
          type: integer
        _cloudId:
          type: integer
        startDate:
          type: number
          description: Start date/time as Unix timestamp in milliseconds
        endDate:
          type: number
          description: End date/time as Unix timestamp in milliseconds
        seats:
          type: integer
        status:
          type: string
          enum: [NEW, CONFIRMED, CANCELLED]
        note:
          type: string
        created:
          type: number
          description: Creation timestamp in milliseconds
        versionDate:
          type: number
          description: Last update timestamp in milliseconds

    Customer:
      type: object
      properties:
        id:
          type: integer
          description: Customer ID
        _cloudId:
          type: integer
          description: Cloud ID
        firstName:
          type: string
          description: First name
        lastName:
          type: string
          description: Last name
        email:
          type: string
          description: Email address
        phone:
          type: string
          description: Phone number
        addressLine1:
          type: string
          description: Address line 1
        addressLine2:
          type: string
          description: Address line 2
        city:
          type: string
          description: City
        zip:
          type: string
          description: ZIP code
        country:
          type: string
          description: Country code
        companyName:
          type: string
          description: Company name
        vatId:
          type: string
          description: VAT ID
        note:
          type: string
          description: Customer note
        points:
          type: number
          description: Customer points
        deleted:
          type: boolean
          description: Is deleted
        display:
          type: boolean
          description: Is displayed
        created:
          type: number
          description: Creation timestamp
        versionDate:
          type: number
          description: Last modification timestamp

    CreateCustomerRequest:
      type: object
      required:
        - _cloudId
        - firstName
        - lastName
        - flags
      properties:
        _cloudId:
          type: integer
          description: Cloud ID
        firstName:
          type: string
          description: First name
        lastName:
          type: string
          description: Last name
        flags:
          type: integer
          format: int64
          description: Customer flags (bitwise flags)
          default: 0
        email:
          type: string
          description: Email address
        phone:
          type: string
          description: Phone number
        addressLine1:
          type: string
          description: Address line 1
        addressLine2:
          type: string
          description: Address line 2
        city:
          type: string
          description: City
        zip:
          type: string
          description: ZIP code
        country:
          type: string
          description: Country code
        companyName:
          type: string
          description: Company name
        vatId:
          type: string
          description: VAT ID
        note:
          type: string
          description: Customer note
        display:
          type: boolean
          description: Is displayed
          default: true
        deleted:
          type: boolean
          description: Is deleted
          default: false
        points:
          type: number
          description: Customer points
          default: 0

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        error_description:
          type: string
        code:
          type: integer