openapi: 3.0.3
info:
  title: Dotypos API
  description: Dotypos POS System API for managing reservations and authentication
  version: 2.0.0
servers:
  - url: https://api.dotykacka.cz/v2
    description: Production API server

security:
  - bearerAuth: []

paths:
  /signin/token:
    post:
      tags:
        - Authentication
      summary: Get access token from refresh token
      operationId: getAccessToken
      security: []
      parameters:
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            description: User {refresh_token}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                _cloudId:
                  type: string
                  description: Cloud ID to get access to
              # _cloudId is optional - can be empty {} for listing clouds
      responses:
        '201':
          description: Successful authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /clouds/{cloudId}/reservations:
    post:
      tags:
        - Reservations
      summary: Create a new reservation
      operationId: createReservation
      parameters:
        - name: cloudId
          in: path
          required: true
          schema:
            type: string
          description: Cloud ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateReservationRequest'
              maxItems: 100
              description: Array of reservations to create (max 100)
      responses:
        '200':
          description: Reservations created successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Reservation'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    get:
      tags:
        - Reservations
      summary: List reservations
      operationId: listReservations
      parameters:
        - name: cloudId
          in: path
          required: true
          schema:
            type: string
          description: Cloud ID
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: "0"
      responses:
        '200':
          description: List of reservations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Reservation'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /clouds/{cloudId}/reservations/{reservationId}:
    get:
      tags:
        - Reservations
      summary: Get reservation by ID
      operationId: getReservation
      parameters:
        - name: cloudId
          in: path
          required: true
          schema:
            type: string
          description: Cloud ID
        - name: reservationId
          in: path
          required: true
          schema:
            type: string
          description: Reservation ID
      responses:
        '200':
          description: Reservation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        '404':
          description: Reservation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    put:
      tags:
        - Reservations
      summary: Update reservation
      operationId: updateReservation
      parameters:
        - name: cloudId
          in: path
          required: true
          schema:
            type: string
          description: Cloud ID
        - name: reservationId
          in: path
          required: true
          schema:
            type: string
          description: Reservation ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReservationRequest'
      responses:
        '200':
          description: Reservation updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reservation'
        '404':
          description: Reservation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

    delete:
      tags:
        - Reservations
      summary: Cancel reservation
      operationId: cancelReservation
      parameters:
        - name: cloudId
          in: path
          required: true
          schema:
            type: string
          description: Cloud ID
        - name: reservationId
          in: path
          required: true
          schema:
            type: string
          description: Reservation ID
      responses:
        '204':
          description: Reservation cancelled successfully
        '404':
          description: Reservation not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /clouds/{cloudId}/customers:
    get:
      tags:
        - Customers
      summary: Get customers
      operationId: getCustomers
      parameters:
        - name: cloudId
          in: path
          required: true
          schema:
            type: string
        - name: filter
          in: query
          description: Filter customers (e.g., by email or phone)
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: "0"
      responses:
        '200':
          description: Paginated list of customers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedCustomers'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
        - Customers
      summary: Create customers
      operationId: createCustomers
      parameters:
        - name: cloudId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateCustomerRequest'
      responses:
        '200':
          description: Customers created successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Customer'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /clouds/{cloudId}/tables:
    get:
      tags:
        - Tables
      summary: Get tables
      operationId: getTables
      parameters:
        - name: cloudId
          in: path
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: "0"
      responses:
        '200':
          description: Paginated list of tables
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedTables'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /clouds/{cloudId}/customers/{customerId}:
    get:
      tags:
        - Customers
      summary: Get customer by ID
      operationId: getCustomer
      parameters:
        - name: cloudId
          in: path
          required: true
          schema:
            type: string
        - name: customerId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Customer details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    
    put:
      tags:
        - Customers
      summary: Update customer
      operationId: updateCustomer
      parameters:
        - name: cloudId
          in: path
          required: true
          schema:
            type: string
        - name: customerId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
      responses:
        '200':
          description: Customer updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Customer'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Customer not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    RefreshTokenRequest:
      type: object
      required:
        - grant_type
        - client_id
        - client_secret
        - refresh_token
      properties:
        grant_type:
          type: string
          enum: [refresh_token]
        client_id:
          type: string
        client_secret:
          type: string
        refresh_token:
          type: string

    PasswordTokenRequest:
      type: object
      required:
        - grant_type
        - client_id
        - client_secret
        - username
        - password
      properties:
        grant_type:
          type: string
          enum: [password]
        client_id:
          type: string
        client_secret:
          type: string
        username:
          type: string
        password:
          type: string

    TokenResponse:
      type: object
      required:
        - accessToken
      properties:
        accessToken:
          type: string
          description: JWT access token for API authentication

    CreateReservationRequest:
      type: object
      required:
        - _branchId
        - _cloudId
        - startDate
        - endDate
        - seats
        - status
      properties:
        _branchId:
          type: integer
          description: Branch ID
        _cloudId:
          type: integer
          description: Cloud ID
        _customerId:
          type: integer
          description: Customer ID
        _employeeId:
          type: integer
          description: Employee ID
        _tableId:
          type: integer
          description: Table ID
          default: 0
        flags:
          type: integer
          format: int64
          description: Reservation flags (bitwise flags)
          default: "0"
        startDate:
          type: number
          description: Start date/time as Unix timestamp in milliseconds
        endDate:
          type: number
          description: End date/time as Unix timestamp in milliseconds
        seats:
          type: integer
          description: Number of seats/guests
        status:
          type: string
          enum: [NEW, CONFIRMED, CANCELLED]
        note:
          type: string
          description: Additional notes (used for customer info)

    UpdateReservationRequest:
      type: object
      properties:
        startDate:
          type: number
          description: Start date/time as Unix timestamp in milliseconds
        endDate:
          type: number
          description: End date/time as Unix timestamp in milliseconds
        seats:
          type: integer
          description: Number of seats/guests
        status:
          type: string
          enum: [NEW, CONFIRMED, CANCELLED]
        note:
          type: string
          description: Additional notes

    Reservation:
      type: object
      required:
        - _branchId
        - _cloudId
        - seats
        - startDate
        - endDate
        - status
      properties:
        id:
          type: integer
          description: Reservation ID
        _branchId:
          type: integer
          description: Branch ID
        _cloudId:
          type: integer
          description: Cloud ID
        _customerId:
          type: integer
          description: Customer ID
        _employeeId:
          type: integer
          description: Employee ID
        _tableId:
          type: integer
          description: Table ID
        created:
          type: number
          description: Creation timestamp in milliseconds
        flags:
          type: integer
          description: Reservation flags
        startDate:
          type: number
          description: Start date/time as Unix timestamp in milliseconds
        endDate:
          type: number
          description: End date/time as Unix timestamp in milliseconds
        seats:
          type: integer
          description: Number of seats
        status:
          type: string
          enum: [NEW, CONFIRMED, CANCELLED]
          description: Reservation status
        note:
          type: string
          description: Additional notes
        versionDate:
          type: number
          description: Last update timestamp in milliseconds

    PaginatedCustomers:
      type: object
      properties:
        currentPage:
          type: string
          description: Current page number
        perPage:
          type: string
          description: Items per page
        totalItemsOnPage:
          type: string
          description: Number of items on current page
        totalItemsCount:
          type: string
          description: Total number of items
        firstPage:
          type: string
          description: First page number
        lastPage:
          type: string
          description: Last page number
        nextPage:
          type: string
          nullable: true
          description: Next page number
        prevPage:
          type: string
          nullable: true
          description: Previous page number
        data:
          type: array
          description: Array of customers
          items:
            $ref: '#/components/schemas/Customer'

    Customer:
      type: object
      required:
        - _cloudId
        - deleted
        - display
        - flags
        - points
      properties:
        id:
          type: string
          description: Customer ID
        _cloudId:
          type: string
          description: Cloud ID
        _discountGroupId:
          type: string
          description: Discount group ID
        _sellerId:
          type: string
          description: Seller ID
        firstName:
          type: string
          description: First name (at least one of firstName, lastName, or companyName must be non-blank)
        lastName:
          type: string
          description: Last name (at least one of firstName, lastName, or companyName must be non-blank)
        companyName:
          type: string
          description: Company name (at least one of firstName, lastName, or companyName must be non-blank)
        companyId:
          type: string
          description: Company ID
        email:
          type: string
          description: Email address
        phone:
          type: string
          description: Phone number
        addressLine1:
          type: string
          description: Address line 1
        addressLine2:
          type: string
          description: Address line 2
        city:
          type: string
          description: City
        zip:
          type: string
          description: ZIP code
        country:
          type: string
          description: Country code
        vatId:
          type: string
          description: VAT ID
        barcode:
          type: string
          description: Customer barcode
        birthday:
          type: string
          description: Birthday timestamp
        created:
          type: string
          description: Creation timestamp (ISO 8601)
        expireDate:
          type: string
          description: Expiration date timestamp
        externalId:
          type: string
          description: External ID
        headerPrint:
          type: string
          description: Header print text
        hexColor:
          type: string
          description: Hex color code
        internalNote:
          type: string
          description: Internal note
        modifiedBy:
          type: string
          description: Modified by user
        note:
          type: string
          description: Customer note
        tags:
          type: array
          description: Customer tags
          items:
            type: string
        points:
          type: string
          description: Customer points (as string)
        flags:
          type: string
          description: Customer flags
        display:
          type: boolean
          description: Is displayed
        deleted:
          type: boolean
          description: Is deleted
        versionDate:
          type: string
          description: Last modification timestamp (ISO 8601)

    CreateCustomerRequest:
      type: object
      required:
        - _cloudId
        - firstName
        - lastName
        - flags
      properties:
        _cloudId:
          type: string
          description: Cloud ID
        firstName:
          type: string
          description: First name
        lastName:
          type: string
          description: Last name
        flags:
          type: string
          description: Customer flags (bitwise flags)
          default: "0"
        email:
          type: string
          description: Email address
        phone:
          type: string
          description: Phone number
        addressLine1:
          type: string
          description: Address line 1
        addressLine2:
          type: string
          description: Address line 2
        city:
          type: string
          description: City
        zip:
          type: string
          description: ZIP code
        country:
          type: string
          description: Country code
        companyName:
          type: string
          description: Company name
        vatId:
          type: string
          description: VAT ID
        note:
          type: string
          description: Customer note
        display:
          type: boolean
          description: Is displayed
          default: true
        deleted:
          type: boolean
          description: Is deleted
          default: false
        points:
          type: string
          description: Customer points
          default: "0"
        internalNote:
          type: string
          description: Internal note
          default: ""
        hexColor:
          type: string
          description: Hex color for customer
          default: "#2196F3"
        headerPrint:
          type: string
          description: Header print text
          default: ""
        tags:
          type: array
          description: Customer tags
          items:
            type: string
          default: []
        barcode:
          type: string
          description: Customer barcode
          default: ""
        companyId:
          type: string
          description: Company ID
          default: ""

    UpdateCustomerRequest:
      type: object
      properties:
        firstName:
          type: string
          description: First name
        lastName:
          type: string
          description: Last name
        email:
          type: string
          description: Email address
        phone:
          type: string
          description: Phone number
        addressLine1:
          type: string
          description: Address line 1
        addressLine2:
          type: string
          description: Address line 2
        city:
          type: string
          description: City
        zip:
          type: string
          description: ZIP code
        country:
          type: string
          description: Country code
        companyName:
          type: string
          description: Company name
        vatId:
          type: string
          description: VAT ID
        note:
          type: string
          description: Customer note
        display:
          type: boolean
          description: Is displayed
        deleted:
          type: boolean
          description: Is deleted
        points:
          type: string
          description: Customer points
        internalNote:
          type: string
          description: Internal note
        hexColor:
          type: string
          description: Hex color for customer
        headerPrint:
          type: string
          description: Header print text
        tags:
          type: array
          description: Customer tags
          items:
            type: string
        barcode:
          type: string
          description: Customer barcode
        companyId:
          type: string
          description: Company ID
        flags:
          type: string
          description: Customer flags (bitwise flags)

    PaginatedTables:
      type: object
      properties:
        currentPage:
          type: string
          description: Current page number
        perPage:
          type: string
          description: Items per page
        totalItemsOnPage:
          type: string
          description: Number of items on current page
        totalItemsCount:
          type: string
          description: Total number of items
        firstPage:
          type: string
          description: First page number
        lastPage:
          type: string
          description: Last page number
        nextPage:
          type: string
          nullable: true
          description: Next page number
        prevPage:
          type: string
          nullable: true
          description: Previous page number
        data:
          type: array
          description: Array of tables
          items:
            $ref: '#/components/schemas/Table'

    Table:
      type: object
      required:
        - _cloudId
        - name
      properties:
        id:
          type: string
          description: Table ID
        _branchId:
          type: string
          description: Branch ID
        _cloudId:
          type: string
          description: Cloud ID
        _sellerId:
          type: string
          description: Seller ID
          nullable: true
        _tableGroupId:
          type: string
          description: Table group ID
        name:
          type: string
          description: Table name/number
          maxLength: 180
        seats:
          type: string
          description: Number of seats (as string from API)
        display:
          type: boolean
          description: Is displayed
        enabled:
          type: boolean
          description: Is enabled
        locationName:
          type: string
          description: Location name
        positionX:
          type: string
          description: X position
        positionY:
          type: string
          description: Y position
        rotation:
          type: string
          description: Rotation angle
        type:
          type: string
          description: Table type (e.g., CIRCLE4, SQUARE6, GENERIC, DELIVERY)
        tags:
          type: array
          description: Table tags
          items:
            type: string
        versionDate:
          type: string
          description: Last modification timestamp (ISO 8601)

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        error_description:
          type: string
        code:
          type: integer
