# ARES public registry API — minimal Deskohub subset.
#
# Source: https://ares.gov.cz/ekonomicke-subjekty-v-be/rest/v3/api-docs
# Official spec version: v1.3.0 (OpenAPI 3.0.0).
# Extracted: 2026-09-26.
#
# Contains only operation GET /ekonomicke-subjekty/{ico} (operationId
# vratEkonomickySubjekt) plus all transitively referenced schemas, kept
# verbatim from the official document.
#
# The official `servers` entry is relative ("/ekonomicke-subjekty-v-be/rest");
# this subset pins the absolute server
# https://ares.gov.cz/ekonomicke-subjekty-v-be/rest so generated clients always
# target the public host.

openapi: 3.0.0
info:
  title: 'ARES: REST API - veřejné'
  description: >-
    Minimal checked-in subset of the official public ARES REST API used by
    Deskohub.
  version: 1.3.0
servers:
  - url: https://ares.gov.cz/ekonomicke-subjekty-v-be/rest
paths:
  /ekonomicke-subjekty/{ico}:
    get:
      description: 'Vyhledání ekonomického subjektu ARES podle zadaného iča '
      operationId: vratEkonomickySubjekt
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EkonomickySubjekt'
        '400':
          description: Chyba vstupu
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chyba'
        '401':
          description: Chyba autentizace
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chyba'
        '403':
          description: Přístup zamítnut
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chyba'
        '404':
          description: Zdroj nenalezen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chyba'
        '500':
          description: Neočekávaná chyba
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chyba'
      parameters:
        - in: path
          name: ico
          required: true
          schema:
            maxLength: 8
            minLength: 8
            pattern: ^\d{8}$
            type: string
      tags:
        - ekonomicke-subjekty
      summary: ''
components:
  schemas:
    EkonomickySubjekt:
      type: object
      description: Základní informace o ekonomickém subjektu
      allOf:
        - $ref: '#/components/schemas/EkonomickySubjektZaklad'
        - properties:
            icoId:
              maxLength: 32
              pattern: ^(ARES_)?\d{8}$
              type: string
              description: >-
                Ičo ekonomického subjektu, pokud je ičo přidělené. Id
                ekonomického subjektu, pokud je ičo nepřidělené.
            adresaDorucovaci:
              $ref: '#/components/schemas/AdresaDorucovaci'
              description: Doručovací adresa sídla ekonomického subjektu
            czNace2008:
              type: array
              items:
                maxLength: 5
                minLength: 1
                type: string
                description: >-
                  CZ-NACE_2008 ekonomického subjektu - kód (ciselnikKod:
                  CzNace2008, zdroj:res)
            seznamRegistraci:
              $ref: '#/components/schemas/SeznamRegistraci'
              description: >-
                Seznam registraci ekonomického subjektu v jednotlivých datových
                zdrojích
            primarniZdroj:
              maxLength: 30
              type: string
              description: Identifikace primárního zdroje dat.
            dalsiUdaje:
              type: array
              items:
                $ref: '#/components/schemas/EkonomickySubjektDalsiUdaje'
                description: Seznam dalších údajů o ekonomickém subjektu
            czNace:
              type: array
              items:
                maxLength: 5
                minLength: 1
                type: string
                description: >-
                  Seznam CZ-NACE_2025 - seznam ekonomické činnosti - kód
                  (ciselnikKod: CzNace, zdroj:res)
            subRegistrSzr:
              type: string
              description: >-
                Indeftifikátor sub-registru zdroje SZR - kód (ciselnikKod:
                SubRegistrSzr, zdroj:com)
            dicSkDph:
              type: string
              description: >-
                Daňové identifikační číslo skupiny plátce DPH ve formátu
                CZNNNNNNNNNN
    EkonomickySubjektZaklad:
      type: object
      description: Základní informace o ekonomickém subjektu - obecný předek
      properties:
        ico:
          maxLength: 8
          minLength: 8
          pattern: ^\d{8}$
          type: string
          description: Identifikační číslo osoby - IČO
        obchodniJmeno:
          maxLength: 2000
          minLength: 1
          type: string
          description: Obchodní jméno ekonomického subjektu
        sidlo:
          $ref: '#/components/schemas/Adresa'
          description: Sídlo ekonomického subjektu
        pravniForma:
          maxLength: 3
          minLength: 3
          pattern: ^\d{3}$
          type: string
          description: 'Právní forma - kód (ciselnikKod: PravniForma, zdroj: res, com) '
        pravniFormaRos:
          maxLength: 3
          minLength: 3
          pattern: ^\d{3}$
          type: string
          description: >-
            Právní forma ekonomického subjektu - kód (ciselnikKod:
            PravniFormaRos, zdroj:ros)
        financniUrad:
          maxLength: 3
          minLength: 3
          pattern: ^\d{3}$
          type: string
          description: >-
            Správně příslušný finanční úřad - kód (ciselnikKod: FinancniUrad,
            zdroj:ufo)
        datumVzniku:
          format: date
          type: string
          description: 'Datum vzniku ekonomického subjektu '
        datumZaniku:
          format: date
          type: string
          description: Datum zániku ekonomického subjektu
        datumAktualizace:
          format: date
          type: string
          description: Datum aktualizace záznamu
        dic:
          type: string
          description: Daňové identifikační číslo ve formátu CZNNNNNNNNNN
    Adresa:
      type: object
      description: 'Adresa - obecný předek '
      properties:
        kodStatu:
          type: string
          description: 'Kód státu (ciselnikKod: Stat) '
        nazevStatu:
          maxLength: 32
          type: string
          description: Název státu
        kodKraje:
          maximum: 999
          minimum: 0
          type: integer
          description: Kód kraje
        nazevKraje:
          maxLength: 32
          type: string
          description: Název kraje
        kodOkresu:
          format: int32
          maximum: 9999
          minimum: 0
          type: integer
          description: Kód okresu
        nazevOkresu:
          maxLength: 32
          type: string
          description: Název okresu
        kodObce:
          format: int32
          maximum: 999999
          minimum: 0
          type: integer
          description: Kód obce
        nazevObce:
          maxLength: 48
          type: string
          description: Název obce
        kodSpravnihoObvodu:
          maximum: 999
          minimum: 0
          type: integer
          description: Kód správního obvodu Prahy
        nazevSpravnihoObvodu:
          maxLength: 32
          type: string
          description: 'Název správního obvodu Prahy '
        kodMestskehoObvodu:
          maximum: 999
          minimum: 0
          type: integer
          description: Kód městského obvodu Prahy
        nazevMestskehoObvodu:
          maxLength: 32
          type: string
          description: Název městského obvodu Prahy
        kodMestskeCastiObvodu:
          format: int32
          maximum: 999999
          minimum: 0
          type: integer
          description: Kód městské části statutárního města
        kodUlice:
          format: int32
          maximum: 9999999
          minimum: 0
          type: integer
          description: Kód ulice, veřejného prostranství ze zdroje
        nazevMestskeCastiObvodu:
          maxLength: 48
          type: string
          description: 'Název městské části statutárního města '
        nazevUlice:
          maxLength: 48
          type: string
          description: 'Název ulice, veřejného prostranství '
        cisloDomovni:
          maximum: 9999
          type: integer
          description: Číslo domovní
        doplnekAdresy:
          maxLength: 1500
          type: string
          description: Doplňující informace adresního popisu
        kodCastiObce:
          format: int32
          maximum: 999999
          minimum: 0
          type: integer
          description: Kód časti obce
        cisloOrientacni:
          maximum: 999
          type: integer
          description: Číslo orientační - číselná část
        cisloOrientacniPismeno:
          maxLength: 1
          type: string
          description: Číslo orientační - písmenná část
        nazevCastiObce:
          maxLength: 48
          type: string
          description: Název části obce
        kodAdresnihoMista:
          maximum: 999999999
          minimum: 0
          type: integer
          description: Kód adresního místa
        psc:
          type: integer
          description: Poštovní směrovací číslo adresní pošty
        textovaAdresa:
          maxLength: 1500
          type: string
          description: Nestrukturovaná adresa (formátovaná adresa)
        cisloDoAdresy:
          maxLength: 255
          type: string
          description: Nestrukturované číslo/a použíté v adrese
        standardizaceAdresy:
          type: boolean
          description: Stav standardizace adresy dle RÚIAN
        pscTxt:
          maximum: 255
          type: string
          description: Psč zahraničních nebo nestandardně definovaných čísel
        typCisloDomovni:
          maximum: 9999
          type: integer
          description: 'Typ čísla domu - kód (ciselnikKod: TypCislaDomovniho) '
    AdresaDorucovaci:
      type: object
      description: Adresa doručovací dle vyhlášky 359/2011 sb.
      properties:
        radekAdresy1:
          maxLength: 255
          type: string
          description: 1. řádek doručovací adresy
        radekAdresy2:
          maxLength: 255
          type: string
          description: 2. řádek doručovací adresy
        radekAdresy3:
          maxLength: 255
          type: string
          description: 3. řádek doručovací adresy
    SeznamRegistraci:
      type: object
      description: Seznam registrací ekonomického subjektu v jednotlivých zdrojích
      properties:
        stavZdrojeRos:
          maxLength: 64
          minLength: 1
          type: string
          description: >-
            Stav ekonomického subjektu ve zdroji ROS (Základní registr - Registr
            osob) - kód (ciselnikKod: StavZdroje, zdroj: com)
        stavZdrojeVr:
          maxLength: 64
          minLength: 1
          type: string
          description: >-
            Stav ekonomického subjektu ve zdroji VR (Veřejné rejstříky) - kód
            (ciselnikKod: StavZdroje, zdroj: com)
        stavZdrojeRes:
          maxLength: 64
          minLength: 1
          type: string
          description: >-
            Stav ekonomického subjektu ve zdroji RES (Registr ekonomických
            subjektů) - kód (ciselnikKod: StavZdroje, zdroj: com)
        stavZdrojeRzp:
          maxLength: 64
          minLength: 1
          type: string
          description: >-
            Stav ekonomického subjektu ve zdroji RŽP (Registr živnostenského
            podnikání) - kód (ciselnikKod: StavZdroje, zdroj: com)
        stavZdrojeNrpzs:
          maxLength: 64
          minLength: 1
          type: string
          description: >-
            Stav ekonomického subjektu ve zdroji NRPZS (Národní registr
            poskytovatelů zdrovotnických služeb) - kód (ciselnikKod: StavZdroje,
            zdroj: com)
        stavZdrojeRpsh:
          maxLength: 64
          minLength: 1
          type: string
          description: >-
            Stav ekonomického subjektu ve zdroji RPSH (Registr politických stran
            a hnutí) - kód (ciselnikKod: StavZdroje, zdroj: com)
        stavZdrojeRcns:
          maxLength: 64
          minLength: 1
          type: string
          description: >-
            Stav ekonomického subjektu ve zdroji RCNS(Registr církví a
            náboženských společenství) - kód (ciselnikKod: StavZdroje, zdroj:
            com)
        stavZdrojeSzr:
          maxLength: 64
          minLength: 1
          type: string
          description: >-
            Stav ekonomického subjektu ve zdroji  SZR(Společný zemědělský
            registr) - kód (ciselnikKod: StavZdroje, zdroj: com)
        stavZdrojeDph:
          maxLength: 64
          minLength: 1
          type: string
          description: >-
            Stav ekonomického subjektu ve zdroji DPH(Registr plátců daně s
            přidané hodnoty) - kód (ciselnikKod: StavZdroje, zdroj: com)
        stavZdrojeSkDph:
          maxLength: 64
          minLength: 1
          type: string
          description: >-
            Stav ekonomického subjektu ve zdroji DPH(Registr plátců daně s
            přidané hodnoty - skupinové DPH) - kód (ciselnikKod: StavZdroje,
            zdroj: com)
        stavZdrojeSd:
          maxLength: 64
          minLength: 1
          type: string
          description: >-
            Stav ekonomického subjektu ve zdroji SD(Registr plátců spotřební
            daně) - kód (ciselnikKod: StavZdroje, zdroj: com)
        stavZdrojeIr:
          maxLength: 64
          minLength: 1
          type: string
          description: >-
            Stav ekonomického subjektu ve zdroji ISIR(Insolvenční rejstřík) -
            kód (ciselnikKod: StavZdroje, zdroj: com)
        stavZdrojeCeu:
          maxLength: 64
          minLength: 1
          type: string
          description: >-
            Stav ekonomického subjektu ve zdroji CEÚ(Centrální evidence úpadců)
            - kód (ciselnikKod: StavZdroje, zdroj: com)
        stavZdrojeRs:
          maxLength: 64
          minLength: 1
          type: string
          description: >-
            Stav ekonomického subjektu ve zdroji RŠ(Registr škol) - kód
            (ciselnikKod: StavZdroje, zdroj: com)
        stavZdrojeRed:
          maxLength: 64
          minLength: 1
          type: string
          description: >-
            Stav ekonomického subjektu ve zdroji RED(Registr evidence dotací) -
            kód (ciselnikKod: StavZdroje, zdroj: com)
        stavZdrojeMonitor:
          maxLength: 64
          minLength: 1
          type: string
          description: >-
            Stav ekonomického subjektu ve zdroji MONITOR(Monitor účetních
            jednotek státu) - kód (ciselnikKod: StavZdroje, zdroj: com)
    EkonomickySubjektDalsiUdaje:
      type: object
      description: Další údaje o ekonomickém subjektu
      properties:
        obchodniJmeno:
          type: array
          items:
            $ref: '#/components/schemas/ObchodniJmenoAres'
            description: Obchodní jméno ekonomického subjektu
        sidlo:
          type: array
          items:
            $ref: '#/components/schemas/AdresaAres'
            description: 'Sídlo ekonomického subjektu '
        pravniForma:
          maxLength: 3
          minLength: 3
          pattern: ^\d{3}$
          type: string
          description: 'Právní forma - kód (ciselnikKod: PravniForma, zdroj: res, com)'
        pravniFormaRos:
          maxLength: 3
          minLength: 3
          pattern: ^\d{3}$
          type: string
          description: >-
            Právní forma ekonomického subjektu - kód (ciselnikKod:
            PravniFormaRos, zdroj:res)
        spisovaZnacka:
          maxLength: 32
          type: string
          description: >-
            Aktuální spisová značka ve tvaru ODDIL xx/SOUD (např. B 100/MSPH) -
            poskytováno pouze pro zdroj: Veřejné rejstříky
        datovyZdroj:
          maxLength: 30
          type: string
          description: >-
            Identifikace primárního zdroje dat - kód (ciselnikKod: TypZdroje,
            zdroj: com)
    ObchodniJmenoAres:
      type: object
      description: Obchodní jméno s platností
      properties:
        platnostOd:
          format: date
          type: string
          description: Platnost údaje od data
        platnostDo:
          format: date
          type: string
          description: Platnost údaje do data
        obchodniJmeno:
          maxLength: 2000
          minLength: 1
          type: string
          description: Obchodní jméno ekonomického subjektu
        primarniZaznam:
          type: boolean
          description: 'Primární záznam '
    AdresaAres:
      type: object
      description: Adresa s platností
      properties:
        sidlo:
          $ref: '#/components/schemas/Adresa'
          description: Sídlo
        primarniZaznam:
          type: boolean
          description: Primární záznam
        platnostOd:
          format: date
          type: string
          description: Platnost údaje od data
        platnostDo:
          format: date
          type: string
          description: Platnost údaje od data
    Chyba:
      type: object
      properties:
        kod:
          $ref: '#/components/schemas/KodChybyEnum'
          description: Číselníkový kód chyby
        popis:
          type: string
          description: Popis chyby
        subKod:
          type: string
          description: Subkod chyby
    KodChybyEnum:
      description: Chybové kódy.
      type: string
      enum:
        - OBECNA_CHYBA
        - CHYBA_VSTUPU
        - NENALEZENO
        - NENI_IMPLEMENTOVANO
        - NEPRIHLASENY_UZIVATEL
        - NENI_OPRAVNENI
